.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  filter: invert(1); /* Invert the white nav logo to black for the white page */
}

.login-container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.login-container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
  color: #111;
}

.login-container > form > h5 {
  margin-bottom: 5px;
  color: #111;
}

.login-container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 93%;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  padding-left: 5px;
}

.login-signInButton {
  background: #f0c14b;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
  color: #111;
}

.login-signInButton:hover {
  background: #f4d078;
}

.login-container > p {
  margin-top: 15px;
  font-size: 12px;
  color: #111;
}

.login-registerButton {
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: 1px solid darkgray;
  margin-top: 10px;
  background-color: #e8eaf6;
  cursor: pointer;
  color: #111;
}

.login-registerButton:hover {
  background-color: #d8dbf0;
}
